.feedContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 5% 5% 5%;
    padding-top: 130px;
    grid-row-gap: 80px;
}
.feed-item {
    display: flex;
    width: 100%;
    height: fit-content;
    overflow-x: auto;
    border-radius: 0 15% 0 0;
}
.intro {
    overflow: hidden;
    text-overflow: ellipsis;
}
.intro {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-weight: lighter;
    font-size: 80%;
}
.feed-description {
    margin-left: 20px;
    display: inline-block;
    color: #6a2323;
    align-self: center;
    overflow: auto;
}
.feed-description h3, .feed-description p {
    font-size: 14px;
    margin: 0;
}
.feed-description h3 {
    clear: right;
}
.image {
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
    align-self: center;
}

.created-by {
    float: right;
    padding-top: 5px;
}
.schedule {
    background-color: #6a2323;
    color: white;
    float: right;
    padding: 5px 10px;
}

@media only screen and (max-width: 600px) {
    .feedContainer {
        grid-template-columns: 100%;
        margin: auto;
        width: 100vw;
        grid-auto-rows: 10%;
        grid-gap: 25%;
    }
    .feed-description h3, .feed-description p {
        font-size: 14px;
    }
}
