#go-to-voting:hover {
    cursor: pointer;
    background-color: #D3D3D3;
}
a {
    text-decoration: none;
}
.voting-page {
    min-height: 100vh;
    width: 1000px;
    padding-top: 130px;
    margin: auto;
    color: #6a2323;
    box-sizing: border-box;
}
.election-header {
    text-align: center;
}
#back-to-election, .election-title, .election-date {
    display: inline;
}
#back-to-election {
    background-color: white;
    border: none;
    cursor: pointer;
}
.election-title {
    margin: auto;
}
.election-date {
    display: block;
}
.election-graphs, .presidents, .vice-presidents {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    justify-content: center;
}
.pie-chart {
    width: fit-content;
    height: 100%;
    
}
#pie-1 {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: conic-gradient(
        #CB6015 .65turn,
        #FFFF00 .65turn
        );
    margin-left: 20px;
}
.legends {
    height: 100%;
    width: 250px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.legends p {
    padding: 0;
    margin: 0;
}
.voted {
    background-color: #CB6015;
    width: 15px;
    height: 15px;
    text-align: center;
}
.legends span {
    margin-left: 5px;
}
.legend-item {
    padding: 5px 0;
}
.not-yet-voted {
    background-color: yellow;
    width: 15px;
    height: 15px;
    text-align: center;
}
.legends div {
    display: inline-block;
}
#pie-2 {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: conic-gradient(
        #CB6015 .45turn,
        blue .45turn .60turn,
        red .60turn .85turn,
        #ADD8E6 .85turn .95turn,
        yellow .95turn
        );
    margin-left: 20px;
}
.orange {
    background-color: #CB6015;
    width: 15px;
    height: 15px;
    text-align: center;
}
.blue {
    background-color: blue;
    width: 15px;
    height: 15px;
    text-align: center;
}
.red {
    background-color: red;
    width: 15px;
    height: 15px;
    text-align: center;
}
.light-blue {
    background-color: #ADD8E6;
    width: 15px;
    height: 15px;
    text-align: center;
}
.yellow {
    background-color: yellow;
    width: 15px;
    height: 15px;
    text-align: center;
}
.voting-page > h2, .voting-page > h3 {
    text-align: center;
}
.president, .vice-president {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
}
.president p, .president h3, .vice-president p, .vice-president h3 {
    padding: 0;
    margin: 0;
    width: fit-content;
}
.president-description, .vice-president-description {
    align-self: center;
    text-align: center;
}
.person-image {
    width: 200px;
    height: 200px;
}
.vote-now-button {
    display: block;
    margin: 20px auto;
    width: 800px;
    border: none;
    background-color: #6a2323;
    color: white;
}
.vote-now-button:hover {
    cursor: pointer;
    background-color: #4b1313;
}
.voting-section-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    background-color: white;
    width: 80%;
}
.voting-section-modal.active {
    transform: translate(-50%, -50%) scale(1);
}
.voting-form {
    text-align: center;
    width: 100%;
    border: black solid .5px;
    border-radius: 10px;
}
.voting-form h3 {
    text-align: center;
}
#president-ballot {
    margin: 0;
    padding: 5px 0;
    width: 100%;
    background-color: aqua;
}
#vice-president-ballot {
    margin: 0;
    padding: 5px 0;
    width: 100%;
    background-color: green;
}
.voting-form label {
    color: black;
}
#submit-vote, #cancel-vote{
    width: 49%;
    padding: 10px;
    background-color: #6a2323;
    color: white;
    border: none;
    display: inline-block;
    margin: 30px 0 5px 0;
}
#submit-vote:hover, #cancel-vote:hover {
    cursor: pointer;
    background-color: #4b1313;
}
#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}