.ppicture {
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
}
.ppicture, .firstname, .lastname{
    float: left;
    margin: 0;
}

.firstname, .lastname, .logoutBTN {
  font-weight: 600;
   padding: 10px 5px; 
}
.logoutBTN{
  margin-right: 25px;
  width: 30px;
  padding: 10px;
}
.firstname {
  margin-top: 5px; 
}
.lastname{
  font-size: 20px;
  font-weight: 700;
}
ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 15px 15px 15px 15px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.158);
    color: #6a2323;
    width: 100%;
    z-index: 2;
  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  .hamburger {
    width: 40px;
    padding: 2.5px;
  }
  .accountBTNS{
    float: right;
  }
  @media only screen and (max-width: 600px) {
    body {
      min-width: 300px;
    }
    .hamburger{
      display: none;
    }
    .accountBTNS{
      width: 100%;      
    }
    .logoutBTN{
      float: right;
    }
  }