* {
    font-family: Segoe UI;
}
body {
    margin: 0;
    background-image: url('../img/bulsu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.logincontainer {
    background-color: white;
    margin: auto;
    text-align: center;
    width: 500px;
    border-radius: 13px;
    padding: 10px 0px;
}
.heading {
    background-color: #6a2323;
    color: white;
    margin: auto;
    text-align: center;
}
.forminput {
    border: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.205);
    width: 75%;
    height: 50px;
    border-radius: 8px;
    padding: 0 5%;
    margin-bottom: 20px;
}
.loginBTN, .registerBTN{
    color: white;
    width: 85%;
    font-weight: 700;
}
.loginBTN{
    background-color: #6a2323;
}
.registerBTN{
    background-color: #3279b0;
}
.or {
    width: 80%; 
    margin: auto;
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin-top: 10px; 
    margin-bottom: 20px;
 } 
 
 .or span { 
     background:#fff; 
     padding:0 10px; 
 }
.nextButton {
    background-color: #6a2323;
    color: white;
}
.h2Reg {
    font-size: 15px;
    color: rgb(51, 51, 51);
    font-weight: 500;
}
.logo-header {
    margin: 50px auto;
    border-radius: 10px;
    width: 500px;
    height: 60px;
    background-color: #6a2323e7;
    
}
.logo-header img {
   transform: translateY(-20px);
}
.h2Header {
    color: white;
    display: inline-block;
    transform: translate(70px , -60px);
    font-size: large;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .logincontainer {
        width: 90%;
    }
    body {
        margin: 0;
        background-image: url('../img/bulsu.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .regPage1 {
        width: 400px;
    }
    .regInputs {
        text-align: center;
    }
    .logo-header {
        width: auto;
        width: 90%;
        height: 60px;
    }
    .regInputs input {
        margin: 10px 0;
        padding: 20px 0;
        width: 300px;
        box-shadow: .5px .5px #808080;
        border: none;
    }
    .regInputs input::placeholder {
        font-size: larger;
    }
    .regInputs button {
        margin-top: 10px;
        padding: 20px 0;
        width: 300px;
        border: none;
        border-radius: 10px;
    }
    .nextButton {
        background-color: #6a2323;
        color: white;
    }

}