* {
    font-family: Segoe UI;
}
.profileHeader {
    width: 100vw;
    height: 20vh;
    display: flex;
    margin-bottom: 10px;
}
.profilePic {
    
}
.change-password-container, .change-email-container {
    background-color: white;
    margin: 50px auto;
    text-align: center;
    width: 500px;
    border-radius: 13px;
    padding: 10px 0px;
}
.h2Profile {
    font-size: 15px;
    color: rgb(51, 51, 51);
    font-weight: 500;
}
.forminput {
    border: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.205);
    width: 75%;
    height: 50px;
    border-radius: 8px;
    padding: 0 5%;
    margin-bottom: 20px;
}
.profileForm input, .updateEmail, .updatePass {
    border: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.205);
    width: 75%;
    height: 50px;
    border-radius: 8px;
    padding: 0 5%;
    margin-bottom: 20px;
}
.changePass, .changeEmail {
    background-color: #6a2323e7;
    color: white;
}
.change-email-container {
    display: none;
}